JmsTemplate-JmsListener-withActiveMQAndJAXB/product-dto/src/main/resources/xsd/product-schema-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://sandiso.com/orders">
	<element name="product">
		<complexType>
			<sequence>
				<element name="productName" type="string" />
			</sequence>
			<attribute name="productId" type="string" use="required" />
		</complexType>
	</element>
</schema>